*{
    font-family: 'Open Sans';
}

.chattag{
	position:fixed;
	float: right;
	bottom: 70px;
	width: auto;
    height: auto;
	display: none;
	right: 20px;
}

.chatContainer{
    width: 320px;
    height: 420px;
    border: 0px solid #ddd;

}

.chatContainer > .chatHeader{
    background: white;
    padding: 5px;
    border-bottom: 1px solid #ddd;
	background-color: #0099FF;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 50px ;
}

.chatContainer > .chatHeader > h3{
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: white;
	text-align: center;
}

.chatContainer > .chatMessages{
    height: 300px;
    border-bottom: 0px solid #ddd;
    overflow-y: scroll;
	background-color: #F5F5F5;
}

.chatMessages::-webkit-scrollbar {
	display: none;
}

.chatBottom{
	background-color: #F5F5F5;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	height: 50px;
}

.chatContainer > .chatBottom form input[type='submit']{
    padding: 6px;
    background: white;
    border: 1px solid #ddd;
    cursor: pointer;
	float: right;
	position:relative;
	right: 10px;
	width: 30px;
	height: 30px;
	background-image: url('https://cdn0.iconfinder.com/data/icons/line-action-bar/48/send-512.png');
	background-size: cover;
	margin-top: -38px;
}

.chatContainer > .chatBottom form input[type='text']{
    width: 310px;
    padding: 3px;
    padding-left: 10px;
    border: 0px solid #ddd;
    margin: 5px;
    height: 40px;
}

.mess{
    -webkit-border-radius: 50%;
}

.image-mess{
	width: 50px;
	height: auto;
	background-size: cover;
}

.user_notlog{
	text-align: right;
	background-color: #0066FF;
	display: absolute;
	clear: both;
	color: white;
	margin-left: 20px;
	margin-top: 15px;
	margin-right: 5px;
	width:auto;
}

.chatMessages li{
	
	list-style: none;
	padding: 10px;
	border: 1px solid #ddd;
	
	border-radius: 5px;
}

.ad{
	background-color: white;
	display: absolute;
	padding-right:10px;
	margin-right: 20px;
	margin-top: 15px;
	margin-left: 5px;
}

.bell-button{
	height: 50px;
	width: 50px;
	cursor: pointer;
	-webkit-border-radius: 49.7px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	position: fixed;
	bottom: 20px;
	left: 20px;
}

.mess_button{
	cursor: pointer;
	
}

.bell_mess{
	display: none;
	float: right;
}
		
.bell_mess2{
	display: none;
	float: right;
}
		
.notifi{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display:inline;
}

.mess_button{
	height: 50px;
	width: 50px;
	cursor: pointer;
	-webkit-border-radius: 49.7px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-radius: 50%;
	border: 1px solid #fff;
}

.ske_a{
	display: block;
	text-decoration: none;
}

.ske_img{
	display: block;
}

.mess_content{
	display: block;
	
}

.content_wel li{
	list-style: none;
}

.mess_content{
	display: block;
	border: 1px solid #fff;
	
}

.content_wel{
	display: block;
}